# Chapter 6 資料載入、儲存和檔案格式

## Data Loading, Storage, and File Formats Part II

### JSON資料 （Javascript Object Notation)

### json.dumps(): 將python物件轉成json。 在python中，所有儲存成json的程式碼都是str。

In [1]:
import json
import numpy as np
import pandas as pd

In [2]:
a_tuple=(1,2,3,4,5)
b_list=['a','b','c','d','e']
c_dict={'a':[True,False,True],'b':[True,True,True],'c':[False,False,False]}

In [3]:
a_json_array=json.dumps(a_tuple)
b_json_array=json.dumps(b_list)
c_json_object=json.dumps(c_dict)

In [4]:
print(a_json_array, type(a_json_array))

[1, 2, 3, 4, 5] <class 'str'>

In [5]:
print(b_json_array, type(b_json_array))

["a", "b", "c", "d", "e"] <class 'str'>

In [6]:
print(c_json_object, type(c_json_object))

{"a": [true, false, true], "b": [true, true, true], "c": [false, false, false]} <class 'str'>

### json.loads(): 將json轉成python。

In [7]:
json_array='[10,20,30,40,50]'
json_object='{"a":"orange","b":"blue","c": "purple"}'

In [8]:
python_list=json.loads(json_array)
python_dict=json.loads(json_object)

In [9]:
print(python_list,type(python_list))

[10, 20, 30, 40, 50] <class 'list'>

In [10]:
print(python_dict,type(python_dict))

{'a': 'orange', 'b': 'blue', 'c': 'purple'} <class 'dict'>

### 儲存json檔案

### with open(path,'w') as 變數

In [11]:
a_python_dict={'age':[30,40,50],'name':['Alice','Bruce','Charlie'], 'gender':['Female','Male','Male']}

In [12]:
path='examples/test1.json'

In [13]:
with open(path,'w') as json_obj:
    json.dump(a_python_dict, json_obj)
print('儲存成功')

儲存成功

### 如果要儲存中文名稱的json檔案，需要輸入encoding='utf-8', ensure_ascii=False

In [14]:
c_python_dict={'年紀':['50歲','40歲','30歲'], '姓名':
              ['大寶','二寶','小寶'], '性別':['男','女','男']}

In [15]:
path='examples/test2.json'

In [16]:
with open(path,'w', encoding='utf-8') as json_obj2:
    json.dump(c_python_dict, json_obj2, ensure_ascii=False)
print('儲存成功')

儲存成功

### 讀取json的資料

### !cat ___資料位置＿＿＿ 即可直接讀取json檔案

In [17]:
!cat examples/test1.json

{"age": [30, 40, 50], "name": ["Alice", "Bruce", "Charlie"], "gender": ["Female", "Male", "Male"]}

In [18]:
!cat examples/test2.json

{"年紀": ["50歲", "40歲", "30歲"], "姓名": ["大寶", "二寶", "小寶"], "性別": ["男", "女", "男"]}

### pd.read_json('資料位置')：可以將資料轉換為一個表格。

In [19]:
data=pd.read_json('examples/test1.json')

In [20]:
data

   age     name  gender
0   30    Alice  Female
1   40    Bruce    Male
2   50  Charlie    Male

### to_json：可將pandas的資料匯出成json格式。 orient='records'->列位輸出。

In [21]:
print(data.to_json())

{"age":{"0":30,"1":40,"2":50},"name":{"0":"Alice","1":"Bruce","2":"Charlie"},"gender":{"0":"Female","1":"Male","2":"Male"}}

In [22]:
print(data.to_json(orient='records'))

[{"age":30,"name":"Alice","gender":"Female"},{"age":40,"name":"Bruce","gender":"Male"},{"age":50,"name":"Charlie","gender":"Male"}]

### with open(path) as 變數： 可以直接開啟json檔案

In [23]:
path='examples/test1.json'

In [24]:
with open(path) as json_obj:
    data=json.load(json_obj)

In [25]:
print(data)

{'age': [30, 40, 50], 'name': ['Alice', 'Bruce', 'Charlie'], 'gender': ['Female', 'Male', 'Male']}

In [26]:
print(type(data))

<class 'dict'>

### XML和HTML: 從網站抓資料

### 範例的網站：https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/

### pd.read_html('網址')：嘗試讀取網站的資料，出來的結果會是list。

In [27]:
tables=pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')

In [28]:
len(tables)

1

In [29]:
failures=tables[0]

In [30]:
failures.head()

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020",10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020",10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019",10534

### 計算每年的銀行出錯次數close_timestamps

In [31]:
close_timestamps=pd.to_datetime(failures['Closing DateClosing'])

In [32]:
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2017      8
2015      8
2016      5
2004      4
2001      4
2020      4
2019      4
2003      3
2007      3
2000      2
Name: Closing DateClosing, dtype: int64

### XML(eXtensible Markup Language): 常用來支援階層式、巢式以及帶metadata的資料結構。

In [33]:
from lxml import objectify

In [34]:
path = "examples/PurchaseOrder.xml"
with open(path) as f:
    parsed = objectify.parse(f)
root = parsed.getroot()

In [35]:
data=[]

### 讀取html的標籤

In [36]:
from io import StringIO

In [37]:
tag='<a href="http://www.google.com">Google</a>'

In [38]:
root=objectify.parse(StringIO(tag)).getroot()

In [39]:
root

In [40]:
root.get('href')

'http://www.google.com'

In [41]:
root.text

'Google'

In [42]:
pip install xmltodict

Requirement already satisfied: xmltodict in /Users/mercy/opt/anaconda3/lib/python3.9/site-packages (0.13.0)
Note: you may need to restart the kernel to use updated packages.

### xmltodict: 可以用來將xml的資料轉成python檔案。

In [43]:
import requests

In [44]:
import xmltodict

In [45]:
url="https://ibus.tbkc.gov.tw/xmlbus/GetEstimateTime.xml?routeIds=1421"

In [46]:
html=requests.get(url).text

In [47]:
data=xmltodict.parse(html)

In [48]:
stops=data["BusDynInfo"]["BusInfo"]["Route"]["EstimateTime"]
for stop in stops:
    print(stop["@StopName"], stop["@comeTime"])

金獅湖站 21:00
金鼎路口 21:00
金山路口 21:00
鼎西里 21:01
鼎金國小 21:02
鼎金國中 21:03
和順街口 21:05
大順民族路口 21:06
慈濟靜思堂(龍華國中) 21:08
大順一路(好市多) 21:09
捷運凹子底站(大順一路) 21:11
龍華國小 21:12
龍德路口(大順一路) 21:12
裕誠路口(大順一路) 21:13
龍子里 21:14
變電所(中華二路) 21:15
九如三路口 21:16
臺鐵三塊厝站(中華路) 21:18
三民市場 21:18
七賢二路口(中華三路) 21:19
六合二路口 21:21
捷運市議會站 21:23
台灣銀行(健保署) 21:24
歷史博物館(高雄國際會議中心) 21:25
捷運鹽埕埔站(大仁路) 21:27
捷運鹽埕埔站(大仁路) 21:30
大智路(光榮國小) 21:30
大智路口(五福四路) 21:32
大成街口(輕軌真愛碼頭站) 21:33
高雄女中(真愛碼頭) 21:34
漢神百貨 21:36
苓雅市場 21:37
自強三路口(四維四路) 21:39
中華四路口 21:40
苓雅國中 21:42
忠孝路口(四維三路) 21:43
市政大樓(四維三路) 21:44
復華中學 21:45
光華路口(四維二路) 21:46
廣東一街口 21:47
長青服務中心 21:48
輕軌衛生局站(凱旋醫院) 21:50
四維一路 21:51
福安路口 21:52
捷運五塊厝站(福德三路) 21:53
建國一路口 21:56
福德市場 21:58
憲政路口 21:59
臺鐵科工館站 22:00
大順覺民路口(科工館) 22:01
樹德家商 22:02
正興國小 22:03
建工路口(高雄高工) 22:05
大順二路 22:06
鼎山街口 22:06
鼎金國中 22:08
鼎金國小 22:09
鼎西里 22:10
金山路口 22:12
金鼎路口 22:12
金獅湖站 22:13

### 二進位資料格式

### pickle: 儲存二進位資料格式，也稱為序列化。(serialization)

In [49]:
import pandas as pd
import numpy as np

In [50]:
frame=pd.read_csv('examples/example_1.csv')

In [51]:
frame

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

In [52]:
frame.to_pickle('examples/frame_pickle')

In [53]:
pd.read_pickle('examples/frame_pickle')

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

### HDF5格式：階層式資料格式（hierarchical data format)，可以有效率儲存資料，可用來處理大體積的資料集。

In [54]:
frame=pd.DataFrame({'a':np.random.randn(100)})

In [55]:
store=pd.HDFStore('mydata.h5') #設定一個hdf文件(mydata.h5)

In [56]:
store['obj1']=frame #將obj1儲存入hdf文件。

In [57]:
store['obj1_col']=frame['a'] #將obj1_col儲存入hdf文件。

In [58]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [59]:
store['obj1']

           a
0  -1.271092
1  -0.842996
2   1.041408
3  -1.249366
4   0.025766
..       ...
95 -0.918638
96 -0.962154
97  0.345420
98  0.794217
99 -0.527838

[100 rows x 1 columns]

In [60]:
store['obj1_col']

0    -1.271092
1    -0.842996
2     1.041408
3    -1.249366
4     0.025766
        ...
95   -0.918638
96   -0.962154
97    0.345420
98    0.794217
99   -0.527838
Name: a, Length: 100, dtype: float64

### store.put('obj2',frame, format='table') == store('obj2')=frame

In [61]:
store.put('obj2',frame,format='table')

### store.select('obj', where=[]) 可以使用SQL查詢語句。

In [62]:
store.select('obj2',where=['index>=10 and index <=15'])

           a
10  0.774856
11 -0.813744
12  0.453193
13  0.367914
14 -1.023223
15 -0.418815

In [63]:
store.close() #關閉HDF檔案。

### to_hdf（'路徑', 儲存的名稱, format='table'):更直覺的開起hdf檔案。

In [64]:
frame.to_hdf('mydata.h5','obj3',format='table')

### pd.read_hdf('路徑',儲存的名稱,where=[])：更直覺的讀取hdf檔案。

In [65]:
pd.read_hdf('mydata.h5','obj3',where=['index<5'])

          a
0 -1.271092
1 -0.842996
2  1.041408
3 -1.249366
4  0.025766

### 讀取Microsoft Excel檔案

In [66]:
pip install xlrd

Requirement already satisfied: xlrd in /Users/mercy/opt/anaconda3/lib/python3.9/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [67]:
pip install openpyxl

Requirement already satisfied: openpyxl in /Users/mercy/opt/anaconda3/lib/python3.9/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /Users/mercy/opt/anaconda3/lib/python3.9/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [68]:
xlsx=pd.ExcelFile('examples/Global Superstore Orders 2016.xlsx')

In [69]:
orders=pd.read_excel(xlsx,'Orders')

In [70]:
people=pd.read_excel(xlsx,'People')

In [71]:
orders.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2021-11-11 00:00:00,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,40.77,High
1,26341,IN-2014-JR162107-41675,2021-02-05 00:00:00,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2014-CR127307-41929,2021-10-17 00:00:00,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2014-KM1637548-41667,2021-01-28 00:00:00,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2014-RH9495111-41948,2021-11-05 00:00:00,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical

In [72]:
people.head()

              Person           Region
0  Marilène Rousseau        Caribbean
1   Andile Ihejirika   Central Africa
2  Nicodemo Bautista  Central America
3     Cansu Peynirci     Central Asia
4         Lon Bonher       Central US

In [73]:
orders.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit,Shipping Cost
count,51290.00000,9994.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,25645.50000,55190.379428,246.490581,3.476545,0.142908,28.610982,26.478567
std,14806.29199,32063.693350,487.565361,2.278766,0.212280,174.340972,57.251373
min,1.00000,1040.000000,0.444000,1.000000,0.000000,-6599.978000,1.002000
25%,12823.25000,23223.000000,30.758625,2.000000,0.000000,0.000000,2.610000
50%,25645.50000,56430.500000,85.053000,3.000000,0.000000,9.240000,7.790000
75%,38467.75000,90008.000000,251.053200,5.000000,0.200000,36.810000,24.450000
max,51290.00000,99301.000000,22638.480000,14.000000,0.850000,8399.976000,933.570000

### 將Pandas的資料另存新檔到excel格式。

In [74]:
a_dataframe=pd.DataFrame(np.arange(12).reshape(3,4), index=['a','b','c'], columns=['one','two','three','four'])

In [75]:
a_dataframe

   one  two  three  four
a    0    1      2     3
b    4    5      6     7
c    8    9     10    11

### pd.ExcelWriter('儲存的新檔案路徑')

In [76]:
writer=pd.ExcelWriter('examples/frame1.xlsx')

### to_excel('路徑', '工作表名稱')

In [77]:
a_dataframe.to_excel(writer,'a_dataframe')

In [78]:
writer.save()

### 如果不想要這麼麻煩，可以直接使用to_excel('路徑','工作表名稱')

In [79]:
a_dataframe.to_excel('examples/frame2.xlsx','a_dataframe')

### 使用Web API

### requests: 最容易使用Web API的套件。

In [80]:
import requests

In [81]:
url='https://api.github.com/repos/pandas-dev/pandas/issues'

In [82]:
resp=requests.get(url)

In [83]:
resp

In [84]:
data=resp.json()

In [85]:
data[0]['title']

'Issues for new contributors – update'

In [86]:
issues=pd.DataFrame(data,columns=['number','title','labels','state'])

In [87]:
issues

,number,title,labels,state
0,49275,Issues for new contributors – update,"[{'id': 717120670, 'node_id': 'MDU6TGFiZWw3MTc...",open
1,49274,PERF: GH28635 Add ASV benchmark for resample a...,[],open
2,49272,"DOC: Removed parenthesis from .loc,.iloc,.at,.iat","[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
3,49269,TST: repr of Arrow-backed object (GH #48238),[],open
4,49268,DEP: Remove Series.str.__iter__,"[{'id': 87485152, 'node_id': 'MDU6TGFiZWw4NzQ4...",open
5,49267,DEP: Remove truediv from eval,"[{'id': 87485152, 'node_id': 'MDU6TGFiZWw4NzQ4...",open
6,49265,"DEPR: kind kwarg in Index.get_slice_bound, Ind...","[{'id': 87485152, 'node_id': 'MDU6TGFiZWw4NzQ4...",open
7,49264,Improve error message about duplicate columns ...,[],open
8,49262,BUG: groupby.nth should be a filter,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
9,49261,ENH: Add pre-commit check for setup.cfg option...,[],open
10,49259,DEPR: disallow non-keyword arguments,"[{'id': 87485152, 'node_id': 'MDU6TGFiZWw4NzQ4...",open
11,49258,DEPR: drop setting categorical codes,"[{'id': 87485152, 'node_id': 'MDU6TGFiZWw4NzQ4...",open
12,49256,BUG: groupby.describe with as_index=False desc...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
13,49254,DOC: 10 minutes to pandas Selection section `D...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
14,49251,Inconsistency on dtype and fillna,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
15,49250,DEPR: DataFrame.median/mean with numeric_only=...,"[{'id': 87485152, 'node_id': 'MDU6TGFiZWw4NzQ4...",open
16,49249,read_json engine keyword and pyarrow integration,[],open
17,49248,BUG: UndefinedVariableError in DataFrame.query...,[],open
18,49247,BUG: Getting FutureWarning for Groupby.mean wh...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
19,49246,ENH: The need to re-design to_sql() method,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
20,49245,ENH: Add `complement` argument to `(Series|Dat...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
21,49244,"DEPR: to_native_types, set_value, iteritems, u...","[{'id': 87485152, 'node_id': 'MDU6TGFiZWw4NzQ4...",open
22,49243,STYLE: fix pylint consider-using-dict-items wa...,[],open
23,49242,"DEPR: Series(dt64_naive, dtype=dt64tz)","[{'id': 87485152, 'node_id': 'MDU6TGFiZWw4NzQ4...",open
24,49241,CI/TST: pip extras install,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
25,49240,BUG: pivot_table with margins=True on empty Da...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
26,49239,ENH: read_json() should work with single entry...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
27,49236,ENH: Expose `to_pandas_kwargs` in `read_parque...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
28,49233,BUG: inconsistent index order when creating Da...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
29,49232,BUG: pandas.to_datetime() does not respect exa...,"[{'id': 211840, 'node_id': 'MDU6TGFiZWwyMTE4ND...",open

### 使用資料庫

### sqlite3: Python內建的資料庫。

In [88]:
import sqlite3

### 創立一個表格叫做test

In [89]:
query="""
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20), c REAL, d INTERGER
); """

### 連接到資料庫con

In [90]:
con=sqlite3.connect('mydata.sqlite')

### 對資料庫con執行query

In [91]:
con.execute(query)

OperationalError: table test already exists

### 完成資料庫更新

In [92]:
con.commit

### 對資料庫con插入資料。

In [93]:
data=[('Atlanta','Gerogia', 1.25,6),
      ('Tallahassee','Florida',2.6,3),
       ('Scaramento','California',1.7,5)]

In [94]:
stmt="INSERT INTO test VALUES(?,?,?,?)"

In [95]:
con.executemany(stmt,data)

### 完成資料更新

In [96]:
con.commit

### 取出表格test內所有資料。

In [97]:
cursor=con.execute('select * from test')

In [98]:
rows=cursor.fetchall()

In [99]:
rows

[('Atlanta', 'Gerogia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Scaramento', 'California', 1.7, 5)]

In [100]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [101]:
pd.DataFrame(rows,columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Gerogia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Scaramento  California  1.70  5

### SQLAlchemy

In [102]:
import sqlalchemy as sqla

In [103]:
db=sqla.create_engine('sqlite:///mydata.sqlite')

In [104]:
pd.read_sql('select * from test' , db)

Empty DataFrame
Columns: [a, b, c, d]
Index: []