# Chapter11 時間序列

## Time Series PartII

### 日期區間、頻率和位移

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from datetime import datetime

In [4]:
dates=[datetime(2011,1,2),datetime(2011,1,3),datetime(2011,1,4),datetime(2011,1,5),
       datetime(2011,1,6),datetime(2011,1,7),datetime(2011,1,8),datetime(2011,1,9)]

In [5]:
ts=pd.Series(np.random.rand(8),index=dates)

In [6]:
ts

2011-01-02    0.853673
2011-01-03    0.981514
2011-01-04    0.120110
2011-01-05    0.821109
2011-01-06    0.600622
2011-01-07    0.549698
2011-01-08    0.012455
2011-01-09    0.815696
dtype: float64

In [7]:
ts.resample('2D').sum()

2011-01-02    1.835186
2011-01-04    0.941218
2011-01-06    1.150320
2011-01-08    0.828151
Freq: 2D, dtype: float64

### series.resample('3T').sum() ：可以按照頻率取出表格的日期，並且進行聚合運算。

In [8]:
import numpy as np
import pandas as pd
index = pd.date_range('1/1/2019', periods=8, freq='T')
series = pd.Series(range(8), index=index)
series.resample('3T', label='right').sum()

2019-01-01 00:03:00     3
2019-01-01 00:06:00    12
2019-01-01 00:09:00    13
Freq: 3T, dtype: int64

In [9]:
import numpy as np
import pandas as pd
index = pd.date_range('1/1/2019', periods=8, freq='T')
series = pd.Series(range(8), index=index)
series.resample('3T', label='right').agg(['mean','sum','max','min'])

                     mean  sum  max  min
2019-01-01 00:03:00   1.0    3    2    0
2019-01-01 00:06:00   4.0   12    5    3
2019-01-01 00:09:00   6.5   13    7    6

### 產生區間日期

### pd.date_range(起始日,終止日) 間隔預設值為1天。

In [10]:
index=pd.date_range('2012-04-01','2012-06-01')

In [11]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

### pd.date_range(start=起始日, period=持續幾天)

In [12]:
pd.date_range(start='2012-04-01',periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

### pd.date_range(end=終止日，periods=持續幾日)

In [13]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

### freq='BM' business end of month 每個月最後一個上班日。

In [14]:
pd.date_range('2022-01-01','2022-12-31',freq='BM')

DatetimeIndex(['2022-01-31', '2022-02-28', '2022-03-31', '2022-04-29',
               '2022-05-31', '2022-06-30', '2022-07-29', '2022-08-31',
               '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-30'],
              dtype='datetime64[ns]', freq='BM')

### freq='B' 上班日

In [15]:
pd.date_range('2022-10-01','2022-10-31',freq='B')

DatetimeIndex(['2022-10-03', '2022-10-04', '2022-10-05', '2022-10-06',
               '2022-10-07', '2022-10-10', '2022-10-11', '2022-10-12',
               '2022-10-13', '2022-10-14', '2022-10-17', '2022-10-18',
               '2022-10-19', '2022-10-20', '2022-10-21', '2022-10-24',
               '2022-10-25', '2022-10-26', '2022-10-27', '2022-10-28',
               '2022-10-31'],
              dtype='datetime64[ns]', freq='B')

### pd.date_range() 預設值為起始日，間隔為1天。

In [16]:
pd.date_range('2022-10-20 12:56:31', periods=5)

DatetimeIndex(['2022-10-20 12:56:31', '2022-10-21 12:56:31',
               '2022-10-22 12:56:31', '2022-10-23 12:56:31',
               '2022-10-24 12:56:31'],
              dtype='datetime64[ns]', freq='D')

### normalize=True 可以讓所有的日期變成子夜。

In [17]:
pd.date_range('2022-10-20 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2022-10-20', '2022-10-21', '2022-10-22', '2022-10-23',
               '2022-10-24'],
              dtype='datetime64[ns]', freq='D')

### 頻率和資料位移 base frequency & Data Offset

In [18]:
from pandas.tseries.offsets import Hour, Minute

In [19]:
hour=Hour()

In [20]:
hour

In [21]:
four_hours=Hour(4)

In [22]:
four_hours

### freq='4h' 表示間隔四個小時。

In [23]:
pd.date_range('2022-01-01','2022-01-03',freq='4h')

DatetimeIndex(['2022-01-01 00:00:00', '2022-01-01 04:00:00',
               '2022-01-01 08:00:00', '2022-01-01 12:00:00',
               '2022-01-01 16:00:00', '2022-01-01 20:00:00',
               '2022-01-02 00:00:00', '2022-01-02 04:00:00',
               '2022-01-02 08:00:00', '2022-01-02 12:00:00',
               '2022-01-02 16:00:00', '2022-01-02 20:00:00',
               '2022-01-03 00:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [24]:
Hour(4)+Minute(30)

### freq='1h30min' 可以被系統解讀為1個小時又30分鐘。

In [25]:
pd.date_range('2022-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2022-01-01 00:00:00', '2022-01-01 01:30:00',
               '2022-01-01 03:00:00', '2022-01-01 04:30:00',
               '2022-01-01 06:00:00', '2022-01-01 07:30:00',
               '2022-01-01 09:00:00', '2022-01-01 10:30:00',
               '2022-01-01 12:00:00', '2022-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

### 錨點定位 Anchored Offset: 'Ｍ'代表每個月最後一天，'BM'代表每個月最後一個週間日。間隔並非相等。

### 每個月的第幾週的星期幾

### freq='WOM-FRI' 每個月的第三個星期五

In [26]:
rng=pd.date_range('2022-01-02','2022-08-01',freq='WOM-3FRI')

In [27]:
list(rng)

[Timestamp('2022-01-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2022-02-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2022-03-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2022-04-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2022-05-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2022-06-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2022-07-15 00:00:00', freq='WOM-3FRI')]

### 移動（開頭或結尾）資料

In [28]:
ts2=pd.Series(np.random.randn(4), index=pd.date_range('1/1/2022', periods=4, freq='M'))

In [29]:
ts2

2022-01-31   -1.353566
2022-02-28    1.433630
2022-03-31   -1.098296
2022-04-30    1.434977
Freq: M, dtype: float64

### shift(): 可以讓值向下位移，但是index不變。
### 因為數值平行位移，就會出現遺失值。

In [30]:
ts2.shift(2)

2022-01-31         NaN
2022-02-28         NaN
2022-03-31   -1.353566
2022-04-30    1.433630
Freq: M, dtype: float64

In [31]:
ts2.shift(-2)

2022-01-31   -1.098296
2022-02-28    1.434977
2022-03-31         NaN
2022-04-30         NaN
Freq: M, dtype: float64

### ts2.shift(2, freq='M'): 起始日會往後2個月。

In [32]:
ts2

2022-01-31   -1.353566
2022-02-28    1.433630
2022-03-31   -1.098296
2022-04-30    1.434977
Freq: M, dtype: float64

In [33]:
ts2.shift(2, freq='M')

2022-03-31   -1.353566
2022-04-30    1.433630
2022-05-31   -1.098296
2022-06-30    1.434977
Freq: M, dtype: float64

### ts2.shift(3,freq='D'): 起始日會往後3天。

In [34]:
ts2.shift(3, freq='D')

2022-02-03   -1.353566
2022-03-03    1.433630
2022-04-03   -1.098296
2022-05-03    1.434977
dtype: float64

### ts2.shiift(1,freq='90T'): 起始日會往後延1.5小時。

In [35]:
ts2.shift(1, freq='90T')

2022-01-31 01:30:00   -1.353566
2022-02-28 01:30:00    1.433630
2022-03-31 01:30:00   -1.098296
2022-04-30 01:30:00    1.434977
dtype: float64

In [36]:
ts/ts.shift(1)-1

2011-01-02          NaN
2011-01-03     0.149754
2011-01-04    -0.877628
2011-01-05     5.836322
2011-01-06    -0.268523
2011-01-07    -0.084785
2011-01-08    -0.977342
2011-01-09    64.492234
dtype: float64

### 用位移量移動日期

In [37]:
from pandas.tseries.offsets import Day, MonthEnd

In [38]:
now=datetime(2011,11,17)

In [39]:
now+3*Day()

Timestamp('2011-11-20 00:00:00')

### MonthEnd():讓時間跳到月底。

In [40]:
now+MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [41]:
now+MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [42]:
offset=MonthEnd()

### rollforward(): 時間向前推進。

In [43]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

### rollback(): 時間向後推進。

In [44]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [45]:
ts = pd.Series(np.random.randn(20),index=pd.date_range('1/15/2022', periods=20, freq='4d'))

In [46]:
ts

2022-01-15   -1.017767
2022-01-19   -0.683204
2022-01-23    0.653662
2022-01-27   -0.004899
2022-01-31   -0.973660
2022-02-04   -0.504489
2022-02-08   -1.842698
2022-02-12    1.199840
2022-02-16   -0.185953
2022-02-20   -0.075443
2022-02-24    0.567593
2022-02-28   -0.132991
2022-03-04    0.290135
2022-03-08   -1.543973
2022-03-12   -0.562852
2022-03-16   -0.038485
2022-03-20    0.437508
2022-03-24   -1.967320
2022-03-28   -0.000148
2022-04-01   -0.319179
Freq: 4D, dtype: float64

### offset.rollforward: 找到ts每個月底的月份。 groupby():以月底為分組依據。

In [47]:
ts.groupby(offset.rollforward).mean()

2022-01-31   -0.405174
2022-02-28   -0.139163
2022-03-31   -0.483591
2022-04-30   -0.319179
dtype: float64

### resample(): 可以幫時間做分群，可搭配聚合函數進行運算。

In [48]:
ts.resample('M').mean()

2022-01-31   -0.405174
2022-02-28   -0.139163
2022-03-31   -0.483591
2022-04-30   -0.319179
Freq: M, dtype: float64

### 時區

In [49]:
import pytz

In [50]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [51]:
pytz.common_timezones

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau',
 'Africa/Blantyre',
 'Africa/Brazzaville',
 'Africa/Bujumbura',
 'Africa/Cairo',
 'Africa/Casablanca',
 'Africa/Ceuta',
 'Africa/Conakry',
 'Africa/Dakar',
 'Africa/Dar_es_Salaam',
 'Africa/Djibouti',
 'Africa/Douala',
 'Africa/El_Aaiun',
 'Africa/Freetown',
 'Africa/Gaborone',
 'Africa/Harare',
 'Africa/Johannesburg',
 'Africa/Juba',
 'Africa/Kampala',
 'Africa/Khartoum',
 'Africa/Kigali',
 'Africa/Kinshasa',
 'Africa/Lagos',
 'Africa/Libreville',
 'Africa/Lome',
 'Africa/Luanda',
 'Africa/Lubumbashi',
 'Africa/Lusaka',
 'Africa/Malabo',
 'Africa/Maputo',
 'Africa/Maseru',
 'Africa/Mbabane',
 'Africa/Mogadishu',
 'Africa/Monrovia',
 'Africa/Nairobi',
 'Africa/Ndjamena',
 'Africa/Niamey',
 'Africa/Nouakchott',
 'Africa/Ouagadougou',
 'Africa/Porto-Novo',
 'Africa/Sao_Tome',
 'Africa/Tripoli',
 'Africa/Tunis',
 'Africa/Windhoek',
 'America/Adak',
 'America/Anchorage',
 'America/Anguilla',
 'America/Antigua',
 'America/Araguaina',
 'America/Argentina/Buenos_Aires',
 'America/Argentina/Catamarca',
 'America/Argentina/Cordoba',
 'America/Argentina/Jujuy',
 'America/Argentina/La_Rioja',
 'America/Argentina/Mendoza',
 'America/Argentina/Rio_Gallegos',
 'America/Argentina/Salta',
 'America/Argentina/San_Juan',
 'America/Argentina/San_Luis',
 'America/Argentina/Tucuman',
 'America/Argentina/Ushuaia',
 'America/Aruba',
 'America/Asuncion',
 'America/Atikokan',
 'America/Bahia',
 'America/Bahia_Banderas',
 'America/Barbados',
 'America/Belem',
 'America/Belize',
 'America/Blanc-Sablon',
 'America/Boa_Vista',
 'America/Bogota',
 'America/Boise',
 'America/Cambridge_Bay',
 'America/Campo_Grande',
 'America/Cancun',
 'America/Caracas',
 'America/Cayenne',
 'America/Cayman',
 'America/Chicago',
 'America/Chihuahua',
 'America/Costa_Rica',
 'America/Creston',
 'America/Cuiaba',
 'America/Curacao',
 'America/Danmarkshavn',
 'America/Dawson',
 'America/Dawson_Creek',
 'America/Denver',
 'America/Detroit',
 'America/Dominica',
 'America/Edmonton',
 'America/Eirunepe',
 'America/El_Salvador',
 'America/Fort_Nelson',
 'America/Fortaleza',
 'America/Glace_Bay',
 'America/Goose_Bay',
 'America/Grand_Turk',
 'America/Grenada',
 'America/Guadeloupe',
 'America/Guatemala',
 'America/Guayaquil',
 'America/Guyana',
 'America/Halifax',
 'America/Havana',
 'America/Hermosillo',
 'America/Indiana/Indianapolis',
 'America/Indiana/Knox',
 'America/Indiana/Marengo',
 'America/Indiana/Petersburg',
 'America/Indiana/Tell_City',
 'America/Indiana/Vevay',
 'America/Indiana/Vincennes',
 'America/Indiana/Winamac',
 'America/Inuvik',
 'America/Iqaluit',
 'America/Jamaica',
 'America/Juneau',
 'America/Kentucky/Louisville',
 'America/Kentucky/Monticello',
 'America/Kralendijk',
 'America/La_Paz',
 'America/Lima',
 'America/Los_Angeles',
 'America/Lower_Princes',
 'America/Maceio',
 'America/Managua',
 'America/Manaus',
 'America/Marigot',
 'America/Martinique',
 'America/Matamoros',
 'America/Mazatlan',
 'America/Menominee',
 'America/Merida',
 'America/Metlakatla',
 'America/Mexico_City',
 'America/Miquelon',
 'America/Moncton',
 'America/Monterrey',
 'America/Montevideo',
 'America/Montserrat',
 'America/Nassau',
 'America/New_York',
 'America/Nipigon',
 'America/Nome',
 'America/Noronha',
 'America/North_Dakota/Beulah',
 'America/North_Dakota/Center',
 'America/North_Dakota/New_Salem',
 'America/Nuuk',
 'America/Ojinaga',
 'America/Panama',
 'America/Pangnirtung',
 'America/Paramaribo',
 'America/Phoenix',
 'America/Port-au-Prince',
 'America/Port_of_Spain',
 'America/Porto_Velho',
 'America/Puerto_Rico',
 'America/Punta_Arenas',
 'America/Rainy_River',
 'America/Rankin_Inlet',
 'America/Recife',
 'America/Regina',
 'America/Resolute',
 'America/Rio_Branco',
 'America/Santarem',
 'America/Santiago',
 'America/Santo_Domingo',
 'America/Sao_Paulo',
 'America/Scoresbysund',
 'America/Sitka',
 'America/St_Barthelemy',
 'America/St_Johns',
 'America/St_Kitts',
 'America/St_Lucia',
 'America/St_Thomas',
 'America/St_Vincent',
 'America/Swift_Current',
 'America/Tegucigalpa',
 'America/Thule',
 'America/Thunder_Bay',
 'America/Tijuana',
 'America/Toronto',
 'America/Tortola',
 'America/Vancouver',
 'America/Whitehorse',
 'America/Winnipeg',
 'America/Yakutat',
 'America/Yellowknife',
 'Antarctica/Casey',
 'Antarctica/Davis',
 'Antarctica/DumontDUrville',
 'Antarctica/Macquarie',
 'Antarctica/Mawson',
 'Antarctica/McMurdo',
 'Antarctica/Palmer',
 'Antarctica/Rothera',
 'Antarctica/Syowa',
 'Antarctica/Troll',
 'Antarctica/Vostok',
 'Arctic/Longyearbyen',
 'Asia/Aden',
 'Asia/Almaty',
 'Asia/Amman',
 'Asia/Anadyr',
 'Asia/Aqtau',
 'Asia/Aqtobe',
 'Asia/Ashgabat',
 'Asia/Atyrau',
 'Asia/Baghdad',
 'Asia/Bahrain',
 'Asia/Baku',
 'Asia/Bangkok',
 'Asia/Barnaul',
 'Asia/Beirut',
 'Asia/Bishkek',
 'Asia/Brunei',
 'Asia/Chita',
 'Asia/Choibalsan',
 'Asia/Colombo',
 'Asia/Damascus',
 'Asia/Dhaka',
 'Asia/Dili',
 'Asia/Dubai',
 'Asia/Dushanbe',
 'Asia/Famagusta',
 'Asia/Gaza',
 'Asia/Hebron',
 'Asia/Ho_Chi_Minh',
 'Asia/Hong_Kong',
 'Asia/Hovd',
 'Asia/Irkutsk',
 'Asia/Jakarta',
 'Asia/Jayapura',
 'Asia/Jerusalem',
 'Asia/Kabul',
 'Asia/Kamchatka',
 'Asia/Karachi',
 'Asia/Kathmandu',
 'Asia/Khandyga',
 'Asia/Kolkata',
 'Asia/Krasnoyarsk',
 'Asia/Kuala_Lumpur',
 'Asia/Kuching',
 'Asia/Kuwait',
 'Asia/Macau',
 'Asia/Magadan',
 'Asia/Makassar',
 'Asia/Manila',
 'Asia/Muscat',
 'Asia/Nicosia',
 'Asia/Novokuznetsk',
 'Asia/Novosibirsk',
 'Asia/Omsk',
 'Asia/Oral',
 'Asia/Phnom_Penh',
 'Asia/Pontianak',
 'Asia/Pyongyang',
 'Asia/Qatar',
 'Asia/Qostanay',
 'Asia/Qyzylorda',
 'Asia/Riyadh',
 'Asia/Sakhalin',
 'Asia/Samarkand',
 'Asia/Seoul',
 'Asia/Shanghai',
 'Asia/Singapore',
 'Asia/Srednekolymsk',
 'Asia/Taipei',
 'Asia/Tashkent',
 'Asia/Tbilisi',
 'Asia/Tehran',
 'Asia/Thimphu',
 'Asia/Tokyo',
 'Asia/Tomsk',
 'Asia/Ulaanbaatar',
 'Asia/Urumqi',
 'Asia/Ust-Nera',
 'Asia/Vientiane',
 'Asia/Vladivostok',
 'Asia/Yakutsk',
 'Asia/Yangon',
 'Asia/Yekaterinburg',
 'Asia/Yerevan',
 'Atlantic/Azores',
 'Atlantic/Bermuda',
 'Atlantic/Canary',
 'Atlantic/Cape_Verde',
 'Atlantic/Faroe',
 'Atlantic/Madeira',
 'Atlantic/Reykjavik',
 'Atlantic/South_Georgia',
 'Atlantic/St_Helena',
 'Atlantic/Stanley',
 'Australia/Adelaide',
 'Australia/Brisbane',
 'Australia/Broken_Hill',
 'Australia/Darwin',
 'Australia/Eucla',
 'Australia/Hobart',
 'Australia/Lindeman',
 'Australia/Lord_Howe',
 'Australia/Melbourne',
 'Australia/Perth',
 'Australia/Sydney',
 'Canada/Atlantic',
 'Canada/Central',
 'Canada/Eastern',
 'Canada/Mountain',
 'Canada/Newfoundland',
 'Canada/Pacific',
 'Europe/Amsterdam',
 'Europe/Andorra',
 'Europe/Astrakhan',
 'Europe/Athens',
 'Europe/Belgrade',
 'Europe/Berlin',
 'Europe/Bratislava',
 'Europe/Brussels',
 'Europe/Bucharest',
 'Europe/Budapest',
 'Europe/Busingen',
 'Europe/Chisinau',
 'Europe/Copenhagen',
 'Europe/Dublin',
 'Europe/Gibraltar',
 'Europe/Guernsey',
 'Europe/Helsinki',
 'Europe/Isle_of_Man',
 'Europe/Istanbul',
 'Europe/Jersey',
 'Europe/Kaliningrad',
 'Europe/Kiev',
 'Europe/Kirov',
 'Europe/Lisbon',
 'Europe/Ljubljana',
 'Europe/London',
 'Europe/Luxembourg',
 'Europe/Madrid',
 'Europe/Malta',
 'Europe/Mariehamn',
 'Europe/Minsk',
 'Europe/Monaco',
 'Europe/Moscow',
 'Europe/Oslo',
 'Europe/Paris',
 'Europe/Podgorica',
 'Europe/Prague',
 'Europe/Riga',
 'Europe/Rome',
 'Europe/Samara',
 'Europe/San_Marino',
 'Europe/Sarajevo',
 'Europe/Saratov',
 'Europe/Simferopol',
 'Europe/Skopje',
 'Europe/Sofia',
 'Europe/Stockholm',
 'Europe/Tallinn',
 'Europe/Tirane',
 'Europe/Ulyanovsk',
 'Europe/Uzhgorod',
 'Europe/Vaduz',
 'Europe/Vatican',
 'Europe/Vienna',
 'Europe/Vilnius',
 'Europe/Volgograd',
 'Europe/Warsaw',
 'Europe/Zagreb',
 'Europe/Zaporozhye',
 'Europe/Zurich',
 'GMT',
 'Indian/Antananarivo',
 'Indian/Chagos',
 'Indian/Christmas',
 'Indian/Cocos',
 'Indian/Comoro',
 'Indian/Kerguelen',
 'Indian/Mahe',
 'Indian/Maldives',
 'Indian/Mauritius',
 'Indian/Mayotte',
 'Indian/Reunion',
 'Pacific/Apia',
 'Pacific/Auckland',
 'Pacific/Bougainville',
 'Pacific/Chatham',
 'Pacific/Chuuk',
 'Pacific/Easter',
 'Pacific/Efate',
 'Pacific/Fakaofo',
 'Pacific/Fiji',
 'Pacific/Funafuti',
 'Pacific/Galapagos',
 'Pacific/Gambier',
 'Pacific/Guadalcanal',
 'Pacific/Guam',
 'Pacific/Honolulu',
 'Pacific/Kanton',
 'Pacific/Kiritimati',
 'Pacific/Kosrae',
 'Pacific/Kwajalein',
 'Pacific/Majuro',
 'Pacific/Marquesas',
 'Pacific/Midway',
 'Pacific/Nauru',
 'Pacific/Niue',
 'Pacific/Norfolk',
 'Pacific/Noumea',
 'Pacific/Pago_Pago',
 'Pacific/Palau',
 'Pacific/Pitcairn',
 'Pacific/Pohnpei',
 'Pacific/Port_Moresby',
 'Pacific/Rarotonga',
 'Pacific/Saipan',
 'Pacific/Tahiti',
 'Pacific/Tarawa',
 'Pacific/Tongatapu',
 'Pacific/Wake',
 'Pacific/Wallis',
 'US/Alaska',
 'US/Arizona',
 'US/Central',
 'US/Eastern',
 'US/Hawaii',
 'US/Mountain',
 'US/Pacific',
 'UTC']

In [52]:
tz=pytz.timezone('America/New_York')

In [53]:
tz

In [54]:
pytz.timezone('Asia/Taipei')

### pd.date_range(起始日,periods=持續多久,freq='D') 頻率為'1天'

In [55]:
rng=pd.date_range('3/9/2022 9:30', periods=6, freq='D')

In [56]:
rng

DatetimeIndex(['2022-03-09 09:30:00', '2022-03-10 09:30:00',
               '2022-03-11 09:30:00', '2022-03-12 09:30:00',
               '2022-03-13 09:30:00', '2022-03-14 09:30:00'],
              dtype='datetime64[ns]', freq='D')

### len(rng): 可以計算rng內有幾個元素。

In [57]:
ts=pd.Series(np.random.randn(len(rng)),index=rng)

In [58]:
ts

2022-03-09 09:30:00   -0.621956
2022-03-10 09:30:00    0.210512
2022-03-11 09:30:00   -0.723122
2022-03-12 09:30:00    0.077259
2022-03-13 09:30:00    0.595105
2022-03-14 09:30:00   -1.459499
Freq: D, dtype: float64

### index.tz: 指的是timezone時區。

In [59]:
print(ts.index.tz)

None

### pd.date_range(tz='UTC'): UTC是Coordinated Universal Time 世界協調時間。可以在date_range加入時區設定。

In [60]:
pd.date_range('3/9/2022 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2022-03-09 09:30:00+00:00', '2022-03-10 09:30:00+00:00',
               '2022-03-11 09:30:00+00:00', '2022-03-12 09:30:00+00:00',
               '2022-03-13 09:30:00+00:00', '2022-03-14 09:30:00+00:00',
               '2022-03-15 09:30:00+00:00', '2022-03-16 09:30:00+00:00',
               '2022-03-17 09:30:00+00:00', '2022-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [61]:
ts

2022-03-09 09:30:00   -0.621956
2022-03-10 09:30:00    0.210512
2022-03-11 09:30:00   -0.723122
2022-03-12 09:30:00    0.077259
2022-03-13 09:30:00    0.595105
2022-03-14 09:30:00   -1.459499
Freq: D, dtype: float64

### tz_localize(''): 本地化時間。

In [62]:
ts_utc=ts.tz_localize('UTC')

In [63]:
ts_utc

2022-03-09 09:30:00+00:00   -0.621956
2022-03-10 09:30:00+00:00    0.210512
2022-03-11 09:30:00+00:00   -0.723122
2022-03-12 09:30:00+00:00    0.077259
2022-03-13 09:30:00+00:00    0.595105
2022-03-14 09:30:00+00:00   -1.459499
Freq: D, dtype: float64

### ts_utc.index: 因為有把tz加入ts內，所以ts的index就會出現UTC。

In [64]:
ts_utc.index

DatetimeIndex(['2022-03-09 09:30:00+00:00', '2022-03-10 09:30:00+00:00',
               '2022-03-11 09:30:00+00:00', '2022-03-12 09:30:00+00:00',
               '2022-03-13 09:30:00+00:00', '2022-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

### 方才有使用tz_localize('UTC')，可以再使用tz_convert('America/New_York')轉換時區。

In [65]:
ts_utc.tz_convert('America/New_York')

2022-03-09 04:30:00-05:00   -0.621956
2022-03-10 04:30:00-05:00    0.210512
2022-03-11 04:30:00-05:00   -0.723122
2022-03-12 04:30:00-05:00    0.077259
2022-03-13 05:30:00-04:00    0.595105
2022-03-14 05:30:00-04:00   -1.459499
Freq: D, dtype: float64

### ts.tz_localize('Amercia/New_York') 將時區調整為美東標準時間。

In [66]:
ts_eastern=ts.tz_localize('America/New_York')

In [67]:
ts_eastern.tz_convert('UTC')

2022-03-09 14:30:00+00:00   -0.621956
2022-03-10 14:30:00+00:00    0.210512
2022-03-11 14:30:00+00:00   -0.723122
2022-03-12 14:30:00+00:00    0.077259
2022-03-13 13:30:00+00:00    0.595105
2022-03-14 13:30:00+00:00   -1.459499
dtype: float64

### ts_eastern.tz_convert('Europe/Berlin') 將時區換成柏林時間。

In [68]:
ts_eastern.tz_convert('Europe/Berlin')

2022-03-09 15:30:00+01:00   -0.621956
2022-03-10 15:30:00+01:00    0.210512
2022-03-11 15:30:00+01:00   -0.723122
2022-03-12 15:30:00+01:00    0.077259
2022-03-13 14:30:00+01:00    0.595105
2022-03-14 14:30:00+01:00   -1.459499
dtype: float64

### tz_localize, tz_convert 屬性為DatetimeIndex，可以series.index.tz_localize讀取出DatetimeIndex的資料。

In [69]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2022-03-09 09:30:00+08:00', '2022-03-10 09:30:00+08:00',
               '2022-03-11 09:30:00+08:00', '2022-03-12 09:30:00+08:00',
               '2022-03-13 09:30:00+08:00', '2022-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq=None)

### 含時區的TimeStamp物件

In [70]:
stamp=pd.Timestamp('2022-10-29')

In [71]:
stamp_utc=stamp.tz_localize('utc')

In [72]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2022-10-28 20:00:00-0400', tz='America/New_York')

### pd.TimeStamp(tz='Europe/Moscow')：可以直接在TimeStamp內定義時區。

In [73]:
stamp_moscow=pd.Timestamp('2022-10-10 05:00', tz='Europe/Moscow')

In [74]:
stamp_moscow

Timestamp('2022-10-10 05:00:00+0300', tz='Europe/Moscow')

### 每一個stamp都有一個預設值，不同時區的值都一樣。

In [75]:
stamp_utc.value

1667001600000000000

In [76]:
stamp_utc.tz_convert('America/New_York').value

1667001600000000000

In [77]:
from pandas.tseries.offsets import Hour

In [78]:
stamp=pd.Timestamp('2022-10-24 01:30', tz='US/Eastern')

In [79]:
stamp

Timestamp('2022-10-24 01:30:00-0400', tz='US/Eastern')

### 日光節約時間，stamp+Hour(): 增加一個小時。

In [80]:
stamp+Hour()

Timestamp('2022-10-24 02:30:00-0400', tz='US/Eastern')

In [81]:
stamp=pd.Timestamp('2022-10-20 10:30', tz='US/Eastern')

In [82]:
stamp

Timestamp('2022-10-20 10:30:00-0400', tz='US/Eastern')

### stamp+2*Hour()：增加兩個小時。

In [83]:
stamp+2*Hour()

Timestamp('2022-10-20 12:30:00-0400', tz='US/Eastern')

### 不同時區的操作

In [84]:
rng=pd.date_range('9/30/2022', periods=10, freq='B')

In [85]:
ts=pd.Series(np.random.randn(len(rng)),index=rng)

In [86]:
ts

2022-09-30   -0.422336
2022-10-03    0.988435
2022-10-04    0.296337
2022-10-05    0.542284
2022-10-06   -0.134518
2022-10-07   -1.121224
2022-10-10   -0.818501
2022-10-11   -1.103492
2022-10-12   -0.853816
2022-10-13    1.826191
Freq: B, dtype: float64

In [87]:
ts1=ts[:7].tz_localize('Europe/London')

In [88]:
ts2=ts1[2:].tz_convert('Europe/Moscow')

In [89]:
result=ts1+ts2

### 如果一組日期內有不同的時區，系統會自動將時區調整為'UTC'。

In [90]:
result.index

DatetimeIndex(['2022-09-29 23:00:00+00:00', '2022-10-02 23:00:00+00:00',
               '2022-10-03 23:00:00+00:00', '2022-10-04 23:00:00+00:00',
               '2022-10-05 23:00:00+00:00', '2022-10-06 23:00:00+00:00',
               '2022-10-09 23:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)